<%= form_for(@app) do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :platform %>
    <%= f.select(:platform, [['Android', 'android'], ['iOS', 'ios'], ['Amazon', 'amazon']], {}, class: "form-control") %>
  </div>
  <div class="app-group android-app-group">
    <div class="form-group">
      <%= f.label :gcm_api_key, "API Key" %>
      <%= f.text_area :gcm_api_key, class: "form-control" %>
    </div>
  </div>
  <div class="app-group ios-app-group hide">
    <div class="form-group">
      <%= f.label :apn_app_key, "Application Key" %>
      <%= f.text_area :apn_app_key, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :apn_dev_cert, "Development Certificate" %>
      <%= f.text_area :apn_dev_cert, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :apn_prod_cert, "Production Certificate" %>
      <%= f.text_area :apn_prod_cert, class: "form-control" %>
    </div>
  </div>
  <div class="app-group amazon-app-group hide">
    <div class="form-group">
      <%= f.label :adm_api_key, "API Key" %>
      <%= f.text_area :adm_api_key, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :adm_client_id, "Client ID" %>
      <%= f.text_area :adm_client_id, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :adm_client_secret, "Client Secret" %>
      <%= f.text_area :adm_client_secret, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
