<div class="page-header">
  <h1>App</h1>
  <%= link_to 'Back', apps_path(:tenant_id => @tenant_id), class: "btn btn-default btn-top" %>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @app.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Platform:</dt>
  <dd><%= @app.platform.upcase %></dd>
</dl>

<% if @app.platform == "android" %>
  <dl class="dl-horizontal">
    <dt>API Key:</dt>
    <dd><pre><%= @app.gcm_api_key %></pre></dd>
  </dl>

<% elsif @app.platform == "ios" %>
  <dl class="dl-horizontal">
    <dt>Application Key:</dt>
    <dd><%= @app.apn_app_key %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Development Certificate:</dt>
    <dd><pre><%= @app.apn_dev_cert %></pre></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Production Certificate:</dt>
    <dd><pre><%= @app.apn_prod_cert %></pre></dd>
  </dl>

<% elsif @app.platform == "amazon" %>
  <dl class="dl-horizontal">
    <dt>API Key:</dt>
    <dd><%= @app.adm_api_key %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Client ID:</dt>
    <dd><%= @app.adm_client_id %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Client Secret:</dt>
    <dd><pre><%= @app.adm_client_secret %></pre></dd>
  </dl>
<% end %>

<dl class="dl-horizontal">
  <dt>Total devices:</dt>
  <dd><%= @app.devices_count %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Active devices:</dt>
  <dd><%= @app.devices_count - @app.inactive_devices_count %></dd>
</dl>