<div class="page-header">
  <h1>Newsletter</h1>
  <%= link_to 'Back', newsletters_path, class: "btn btn-default btn-top" %>
</div>

<dl class="dl-horizontal">
  <dt>Newsletter name:</dt>
  <dd><%= @newsletter.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Send Count:</dt>
  <dd><%= @newsletter.send_count %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Open Count:</dt>
  <dd><%= @newsletter.open_count %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Sent at:</dt>
  <dd><%= @newsletter.sent_at %></dd>
</dl>