<div class="page-header">
  <h1>Devices</h1>
  <%= link_to 'New Device', new_device_path(:tenant_id => @tenant_id), class: "btn btn-primary btn-top" %>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= sort_link @q, :id, "#" %></th>
          <th><%= sort_link @q, :app, "App" %></th>
          <th><%= sort_link @q, :platform, "Platform" %></th>
          <th><%= sort_link @q, :user, "User" %></th>
          <th><%= sort_link @q, :token, "Token" %></th>
          <th><%= sort_link @q, :os, "OS" %></th>
          <th><%= sort_link @q, :device, "Device" %></th>
          <th><%= sort_link @q, :inactivated_at, "Inactivated" %></th>
          <th><%= sort_link @q, :updated_at, "Updated" %></th>
          <th><%= sort_link @q, :created_at, "Created" %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @devices.each do |device| %>
          <tr>
            <td><%= device.id %></td>
            <td><%= link_to device.app.name, app_path(device.app_id) %></td>
            <td><%= device.app.platform %></td>
            <td><%= device.user_id %></td>
            <td><a href="#" class="btn btn-sm btn-default view-token" data-toggle="popover" data-content="<%= device.token %>" role="button" data-original-title="Token">View</a></td>
            <td><%= "#{device.os_name} #{device.os_version}" %></td>
            <td><%= "#{device.device_name} #{device.device_version}" %></td>
            <td><%= l device.inactivated_at, format: :short if device.inactivated_at %></td>
            <td><%= l device.updated_at, format: :short %></td>
            <td><%= l device.created_at, format: :short %></td>
            <td>
              <%= link_to 'Show', device, class: "btn btn-default btn-xs" %>
              <%= link_to 'Edit', edit_device_path(device), class: "btn btn-primary btn-xs" %>
              <%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
