<div class="page-header">
  <h1>Subscriptions</h1>
  <%= link_to 'New Subscription', new_subscription_path, class: "btn btn-primary btn-top" %>
</div>
<div class="row">
  <div class="col-md-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= sort_link @q, :id, "#" %></th>
          <th><%= sort_link @q, :tenant_id, "Tenant" %></th>
          <th><%= sort_link @q, :email, "Email" %></th>
          <th><%= sort_link @q, :send_count, "Send Count" %></th>
          <th><%= sort_link @q, :open_count, "Open Count" %></th>
          <th><%= sort_link @q, :last_opened_at, "Last Opened At" %></th>
          <th><%= sort_link @q, :created_at, "Subscribed At" %></th>
          <th><%= sort_link @q, :unsubscribed_at, "Unsubscribed At" %></th>
          <th><%= sort_link @q, :unsubscribe_reason, "Reason" %></th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @subscriptions.each do |subscription| %>
          <tr>
            <td><%= subscription.id %></td>
            <td><%= subscription.tenant_id %></td>
            <td><%= subscription.email %></td>
            <td><%= subscription.send_count %></td>
            <td><%= subscription.open_count %></td>
            <td><%= l subscription.last_opened_at, format: :short if subscription.last_opened_at %></td>
            <td><%= l subscription.created_at, format: :short %></td>
            <td><%= l subscription.unsubscribed_at, format: :short if subscription.unsubscribed_at %></td>
            <td><%= subscription.unsubscribe_reason %></td>
            <td>
              <%= link_to 'Show', subscription, class: "btn btn-default btn-xs" %>
              <%= link_to 'Edit', edit_subscription_path(subscription), class: "btn btn-primary btn-xs" %>
              <%= link_to 'Unsubscribe', subscription, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" if subscription.unsubscribed_at.blank? %>
              <%= link_to 'Subscribe', resubscribe_subscription_path(subscription), class: "btn btn-success btn-xs" if subscription.unsubscribed_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <%= paginate @subscriptions %>
  </div>
  <div class="col-md-2">
    <%= search_form_for @q, :url => subscriptions_path do |f| %>
      <div class="form-group">
        <%= f.label "Email" %>
        <%= f.text_field :email_cont, class: "form-control" %>
        <%= f.label "Tenant id" %>
        <%= f.text_field :tenant_id_eq, class: "form-control" %>
      </div>
      <%= f.submit "Search", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>

