<div class="page-header">
  <h1>Subscription</h1>
  <%= link_to 'Back', subscriptions_path(:tenant_id => @tenant_id), class: "btn btn-default btn-top" %>
</div>

<dl class="dl-horizontal">
  <dt>ID:</dt>
  <dd><%= @subscription.id %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Email:</dt>
  <dd><%= @subscription.email %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Send Count:</dt>
  <dd><%= @subscription.send_count %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Open Count:</dt>
  <dd><%= @subscription.open_count %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Last Opened At:</dt>
  <dd><%= @subscription.last_opened_at %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Unsubscribed At:</dt>
  <dd><%= @subscription.unsubscribed_at %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Unsubscribe Reason:</dt>
  <dd><%= @subscription.unsubscribe_reason %></dd>
</dl>