<%= form_for(@notification) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :app_id %>
    <%= f.collection_select :app_id, Pushar::App.all, :id, :name_with_platform, {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :message, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :options %>
    <%= f.text_area :options, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :sent_at, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select(:sent_at, default: @notification.sent_at, :include_blank => true) %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
