<!DOCTYPE html>
<html>
  <head>
    <title>Pushar</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">

    <%= stylesheet_link_tag    "admin/application", media: "all" %>
    <%= javascript_include_tag "admin/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "PUSHAR", subscriptions_path(:tenant_id => @tenant_id), class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Apps", apps_path(:tenant_id => @tenant_id) %></li>
            <li><%= link_to "Devices", devices_path(:tenant_id => @tenant_id) %></li>
            <li><%= link_to "Notifications", notifications_path(:tenant_id => @tenant_id) %></li>
            <li><%= link_to "Subscriptions", subscriptions_path(:tenant_id => @tenant_id) %></li>
            <li><%= link_to "Newsletters", newsletters_path(:tenant_id => @tenant_id) %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <% if !alert.blank? %>
        <div class="alert alert-warning"><%= alert %></div>
      <% end %>
      <% if !notice.blank? %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
